* {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.between {
    justify-content: space-between;
    align-items: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #BCF7FF;
    z-index: 0;
}

.logo {
    background-color: white;
    border-radius: 16px;
    padding: 5px 10px;
}

.board {
    background-color: white;
    border-radius: 4px;
    width: 60%;
    height: 85%;
    padding: 20px 40px;
}

.search-con {
    background-color: white;
    border-radius: 4px;
    width: 29%;
    height: 85%;
    padding: 20px 40px;
}

.search-inp-con {
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 5px;
}

.search-inp {
    border: 1px solid black;
    height: 100%;
    width: 85%;
    border: none;
    outline: none;
}

.grey-drop {
    margin: 20px 0;
    background-color: #EEEEEE;
    border-radius: 4px;
    padding: 20px 30px;
    flex: 1;
    overflow-y: scroll;
}
.grey-drop::-webkit-scrollbar {
    display: none;
  }

.drop-nav {
    width: 100%;
    height: 0px;
    background-color: rgb(99, 141, 99);
    transition: 1s;
    overflow: hidden;
}
.margin-left {
    margin-left: 20px;
}
.name-imp, .name-father-imp {
    outline: none;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0 3px;
}
.img {
    border: 1px solid black;
    padding: 0px 2px;
    border-radius: 3px;
}
.selection {
    border: 1px solid black;
    border-radius: 3px;
}
.plus {
    border: 1px solid black;
    width: 21px;
    height: 21px;
    border-radius: 20000px;
}
